.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.header-title {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.header-title > p {
  font-weight: bold;
  font-size: larger;
}

.header-container {
  display: flex;
}

.header-container > Input {
  width: fit-content;
  min-width: 500px;
  margin-right: 5px;
}
