.todo-list {
  @media only screen and (min-width: 800px) {
    flex: 1;
  }
}

.todo-list-content {
  display: grid;
  justify-items: center;
}

.todo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: var(--card);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  scroll-margin-top: 1.5rem;
  scroll-margin-bottom: 1.5rem;
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
  border-radius: 10px;
  scroll-padding-top: 0.75rem;
  scroll-padding-bottom: 0.75rem;
  width: 500px;
  height: 90px;
  margin: 20px;
  padding: 10px;
}

.todo-card-header {
  padding-left: 5px;
  padding-right: 5px;
}

.todo-card-title {
  margin-bottom: 5px;
  font-weight: bold;
}

.completed {
  color: var(--check-completed);
  text-decoration: line-through;
}

.todo-card-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

.todo-card-footer > Button {
  margin-right: 5px;
}
